In [1]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [2]:
 # Load the data
file_path = Path('Resources/utor-tor-fin-pt-09-2020-u-c-master-02-Homework-11-Machine-Learning-Instructions-Starter_Code-Resources/02-Homework/11-Machine-Learning/Instructions/Starter_Code/Resources/lending_data.csv')
df = pd.read_csv(file_path)
df.head()

,loan_size,interest_rate,homeowner,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,own,52800,0.431818,5,1,22800,low_risk
1,8400.0,6.692,own,43600,0.311927,3,0,13600,low_risk
2,9000.0,6.963,rent,46100,0.349241,3,0,16100,low_risk
3,10700.0,7.664,own,52700,0.430740,5,1,22700,low_risk
4,10800.0,7.698,mortgage,53000,0.433962,5,1,23000,low_risk

In [3]:
# Split the Data into Training and Testing
# Create our features
x_cols = [i for i in df.columns if i not in ('homeowner','loan_status')]
X = df[x_cols]
# Create our target
y = df["loan_status"]

In [4]:
X.describe()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
count,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000
mean,9805.562577,7.292333,49221.949804,0.377318,3.826610,0.392308,19221.949804
std,2093.223153,0.889495,8371.635077,0.081519,1.904426,0.582086,8371.635077
min,5000.000000,5.250000,30000.000000,0.000000,0.000000,0.000000,0.000000
25%,8700.000000,6.825000,44800.000000,0.330357,3.000000,0.000000,14800.000000
50%,9500.000000,7.172000,48100.000000,0.376299,4.000000,0.000000,18100.000000
75%,10400.000000,7.528000,51400.000000,0.416342,4.000000,1.000000,21400.000000
max,23800.000000,13.235000,105200.000000,0.714829,16.000000,3.000000,75200.000000

In [5]:
# Check the balance of our target values
y.value_counts()

low_risk     75036
high_risk     2500
Name: loan_status, dtype: int64

In [6]:
# Split the X and y into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    random_state=78)

In [7]:
# Balanced Random Forest Classifier
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
classifier = BalancedRandomForestClassifier(max_depth=2, random_state=1)
classifier

BalancedRandomForestClassifier(max_depth=2, random_state=1)

In [17]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.9945187393526406

In [9]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
confusion_matrix(y_test, y_pred)

array([[  597,     3],
       [  112, 18672]], dtype=int64)

In [18]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced

print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.84      0.99      0.99      0.91      0.99      0.99       600
   low_risk       1.00      0.99      0.99      1.00      0.99      0.99     18784

avg / total       0.99      0.99      0.99      0.99      0.99      0.99     19384

In [19]:
# List the features sorted in descending order by feature importance
importances = classifier.feature_importances_
importances_sorted = sorted(zip(classifier.feature_importances_, X.columns), reverse=True)
importances_sorted

[(0.23997717316743297, 'total_debt'),
 (0.229961412707485, 'num_of_accounts'),
 (0.16998658681089057, 'debt_to_income'),
 (0.13007830618122798, 'interest_rate'),
 (0.12998503312725687, 'borrower_income'),
 (0.1000114880057066, 'loan_size'),
 (0.0, 'derogatory_marks')]

In [20]:
# Easy Ensemble Classifier
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier
easy_classifier = EasyEnsembleClassifier(random_state=1)
easy_classifier

EasyEnsembleClassifier(random_state=1)

In [27]:
# Calculated the balanced accuracy score
easy_classifier.fit(X_test)
balanced_accuracy_score(y_test, y_pred)

TypeError: fit() missing 1 required positional argument: 'y'

In [22]:
# Display the confusion matrix
y_easy_pred = easy_classifier.predict(X_test)
easy_results = pd.DataFrame({"Prediction": y_easy_pred, "Actual": y_test}).reset_index(drop=True)

In [23]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_easy_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.84      0.99      0.99      0.91      0.99      0.99       600
   low_risk       1.00      0.99      0.99      1.00      0.99      0.99     18784

avg / total       0.99      0.99      0.99      0.99      0.99      0.99     19384

In [24]:
# Use the above to answer the following questions:


# Which model had the best balanced accuracy score?
print("Which model had the best balanced accuracy score?")
print("Answer:Answer here")

# Which model had the best recall score?
print("Which model had the best recall score?")
print("Answer:Answer here")

# Which model had the best geometric mean score?
print("Which model had the best geometric mean score?")
print("Answer:Answer here")

# What are the top three features?
print("What are the top three features?")
print("Answer:Answer here")

Which model had the best balanced accuracy score?
Answer:Answer here
Which model had the best recall score?
Answer:Answer here
Which model had the best geometric mean score?
Answer:Answer here
What are the top three features?
Answer:Answer here